<!doctype html>
<html data-ng-app="store">
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body data-ng-controller="StoreController as store">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="product in store.products | orderBy:'-price'">
          <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
            <img data-ng-src="{{product.images[0].full}}" src="#" alt="{{product.name}}"/>
          </h3>
          <section data-ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
              <li data-ng-class="{ active: panel.isSelected(1) }">
                <a href="#" data-ng-click="panel.selectTab(1)">Description</a>
              </li>
              <li data-ng-class="{ active: panel.isSelected(2) }">
                <a href="#" data-ng-click="panel.selectTab(2)">Specifications</a>
              </li>
              <li data-ng-class="{ active: panel.isSelected(3) }">
                <a href="#" data-ng-click="panel.selectTab(3)">Reviews</a>
              </li>
            </ul>
            <!--{{tab}}-->
            <div class="panel" data-ng-show="panel.isSelected(1)">
              <h4>Description</h4>
              <p>{{product.description}}</p>
            </div>
            <div class="panel" data-ng-show="panel.isSelected(2)">
              <h4>Specifications</h4>
              <blockquote>None yet</blockquote>
            </div>
            <div class="panel" data-ng-show="panel.isSelected(3)">
              <h4>Reviews</h4>
              <blockquote data-ng-repeat="review in product.reviews">
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <footer><cite>{{review.author}}</cite></footer>
              </blockquote>
              
              <form class="form-horizontal" name="reviewForm">
              <blockquote>
                <b>Stars: {{review.stars}}</b>
                {{review.body}}
                <footer><cite>{{review.author}}</cite></footer>
              </blockquote>
               
                <div class="form-group">
                  <select class="form-control" data-ng-model="review.stars">
                    <option value="1">1 star</option>
                    <option value="2">2 star</option>
                    <option value="3">3 star</option>
                    <option value="4">4 star</option>
                    <option value="5">5 star</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <textarea class="form-control" rows="3" data-ng-model="review.body"></textarea>
                </div>
                
                <div class="form-group">
                  <label>by:</label>
                  <input type="email" class="form-control" data-ng-model="review.author" />
                </div>
                
                <div class="form-group">
                  <input type="submit" value="Submit" class="form-control" />
                </div>
              </form>
            </div>
          </section>
        </li>
      </ul>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
